@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto&display=swap');

:root {
    --backgrounddiv: #FFFFFF;
    --background: #F2F2F2;
    --green: #2acd73;
    --grey1: #4F4F4F;
    --grey2: #828282;
}

*, :before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}

main {
    width: 885px;
    height: auto;
    margin: 75px auto;
    display: grid;
    grid-template-columns: 4.2fr 6fr;
    grid-template-rows: 1.8fr 1.6fr 1.3fr 4.5fr 0.8fr;
    gap: 2.5%;
    grid-template-areas: 
    "profil profil"
    "competence blog"
    "hobbie blog"
    "hobbie experience"
    "filter filter"
    ;
}

main>*, #projects>*{
    box-shadow: 0px 15px 20px 0 rgb(222, 222, 222);
    background-color: var(--backgrounddiv);
    border-radius: 12px;
    padding: 25px;
}

#profil {
    grid-area: profil;
    margin-bottom: 5px;
    display: flex;
}
#profil img {
    width: 255px;
    height: 255px;
    border-radius: 12px;
}
#profil #blocinfo {
    display: flex;
    justify-content: space-between;
}
#profil #textinfo {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--grey2);
}
#profil #information h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--grey1);
}
#profil #information h1, #profil #information p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--grey2);
}
#profil #information p {
    margin: 20px 0;
    width: 200%;
}
#profil #informationperso div {
    display: flex;
    line-height: 0;
    align-items: center;
}
#profil #informationperso div{
    color: var(--grey1);
    font-size: 1em;
    margin: 5px 0;
}
#profil #informationperso ion-icon {
    font-size: 1.5em;
    margin: 0 10px 0;
}





#competence {
    grid-area: competence;
}
#competence h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--grey1);
}
#competence ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}
#competence li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 0;
    color: var(--grey1);
}
#competence li div {
    background-color: #C4C4C4;
    width: 60%;
    height: 8px;
    border-radius: 4px;
    border: none;
}
#competence li div hr {
    background-color: var(--green);
    height: 8px;
    border-radius: 4px;
    border: none;
}
#competence li:first-child div hr {
    width: 95%;
}
#competence li:nth-child(2) div hr {
    width: 90%;
}
#competence li:nth-child(3) div hr {
    width: 70%;
}
#competence li:nth-child(4) div hr {
    width: 60%;
}
#competence li:nth-child(5) div hr {
    width: 55%;
}
#competence li:last-child div hr {
    width: 85%;
}



#blog {
    grid-area: blog;
    padding: 25px 0 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#blog #topblog {
    display: flex;
}
#blog #topblog h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #E0E0E0;
}
#blog #topblog h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-top: 20px;
}
#blog #topblog img {
    width: 58%;
    border-radius: 12px 0px 0px 12px;
    margin-left: 10px;
}
#blog p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey2);
}
#blog a {
    text-decoration: none;
    color: var(--green);
}



#hobbie {
    grid-area: hobbie;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
#hobbie div h1 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--grey1);
}
#hobbie div h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 10px;
}
#hobbie div p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey2);
}
#hobbie>div img{
    width: 100%;
    border-radius: 12px;
}


#experience {
    grid-area: experience;
}
#experience {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--grey1);
}
#experience #projectexperience {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
#experience #projectexperience > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#experience #projectexperience img {
    margin-right: 5%;
    margin-left: 2%;
}
#experience #projectexperience div div h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey2);
}
#experience #projectexperience div div h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin: 5px 0 8px 0;
}
#experience #projectexperience div div p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey2);
}
#experience #projectexperience #dev img {
    width: 15%;
}





#filter {
    grid-area: filter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#filter #button #responsive {
    border-radius: 12px;
    transition: 1s;
    background-color: var(--green);
    border: 1.5px solid var(--green);
    color: var(--backgrounddiv);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 22px 8px 22px;
}
#filter #button #vanilla {
    border-radius: 12px;
    transition: 1s;
    background-color: var(--backgrounddiv);
    border: 1.5px solid var(--green);
    color: var(--green);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 22px 8px 22px;
}
#filter #button #responsive:hover {
    background-color: var(--backgrounddiv);
    color: var(--green);
}
#filter #button #vanilla:hover {
    background-color: var(--green);
    color: var(--backgrounddiv);
}



#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: center;
    gap: 30px;
    max-width: 885px;
    height: auto;
    margin: auto;
}
#projects>div {
    transition: 1s;
    height: 465px;
    width: 270px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#projects>div:hover {
    transition: ease-in 0.5s;
    transform: scale(1.05);
}
#projects div div:first-child img {
    width: 100%;
}
#projects div div:first-child p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey1);
    margin-top: 24px;
}
#projects div div h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}
#projects div div p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey2);
}
#projects div div:last-child {
    display: flex;
    justify-content: space-between;
}
#projects div div:last-child a:first-child {
    transition: 1s;
    color: var(--backgrounddiv);
    border: var(--green) 1.5px solid;
    background-color: var(--green);
    padding: 8%;
    text-align: center;
    border-radius: 12px;
}
#projects div div:last-child a:last-child {
    transition: 1s;
    color: var(--green);
    border: var(--green) 1.5px solid;
    background-color: var(--backgrounddiv);
    padding: 8%;
    text-align: center;
    border-radius: 12px;
}



#footer {
    width: 70%;
    margin: 40px auto -20px auto;
    display: flex;
    justify-content: flex-end;
}
#footer> div {
    display: flex;
    width: 22%;
    align-items: center;
    line-height: 0;
    justify-content: space-between;
    height: 40px;
    text-align: center;
}
#footer div a {
    transition: 1s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border: 1.75px solid var(--green);
    border-radius: 4px;
    height: 100%;
    width: 20%;
    color: var(--green);
}
#footer div a:hover, #projects div div:last-child a:last-child:hover {
    transition: 0.5s;
    background-color: var(--green);
    color: var(--backgrounddiv);
}   

#footer div a.active {
    transition: 1s;
    background-color: var(--green);
    color: var(--backgrounddiv);
}
#footer div a.active:hover {
    transition: 0.5s;
    background-color: var(--background);
    color: var(--green);
}   
#projects div div:last-child a:first-child:hover  {
    transition: 0.5s;
    background-color: var(--backgrounddiv);
    color: var(--green);
}

.pageinactive {
    display: none;
}


a {
    text-decoration: none;
}


#scroll, #scrolldeux {
    position: absolute;
    top: 0;
    left: 0;
}
footer {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;


    color: #BDBDBD;


    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding-top: 50px;
    padding-bottom: 24px;
}

#lien {
    text-decoration: underline;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;

    padding-left: 3px;
    padding-right: 3px;
    color: #BDBDBD;
}

@media screen and (max-width: 820px) {
    main {
        display: grid;
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: 3.0fr 1.6fr 2.5fr 8fr 4fr 0.7fr;
        grid-template-areas: 
        "profil"
        "competence"
        "blog"
        "hobbie"
        "experience"
        "filter"
        ;
    }

    #profil {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #blocinfo {
        display: flex;
        flex-direction: column-reverse;
    }
    #blocinfo > div:first-child {
        margin: 5px;
    }
    #profil p {
        margin-top: 20px;
    }
    #informationperso {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 0;
        position: relative;
        right: 24px;
        margin-top: 10px;
    }
    #blog #topblog img {
        margin-bottom: 20px;
    }
    #blog p {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 620px) {
    main {
     grid-template-rows: 3.0fr 1.6fr 2.5fr 7fr 3fr 0.7fr;
     gap: 35px;
    }
}
@media screen and (max-width: 490px){
    main {
        grid-template-rows: 3fr 1.6fr 2.5fr 5fr 2.5fr 0.7fr;
    }
    #profil {
        padding: 20px 10px 20px 10px;
    }
}
@media screen and (max-width: 390px) {
    main {
        width: 95%;
    }
}
@media screen and (max-width: 360px) {
    main {
        width: 100%;
    }
    
    #button {
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media screen and (max-width: 345px) {
    main {
        width: 315px;
        margin: 30px auto;
    }
    main>div {
        width: 315px;
    }
    #profil #informationperso div {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 315px) {
    main {
        width: 290px;
        grid-template-rows: 3fr 1.6fr 2.5fr 4.5fr 2.5fr 0.9fr;
    }
    main>div {
        width: 290px;
    }
    #profil #textinfo {
        font-size: 13px;
    }
    footer {
        font-size: 0.7em;
    }
    #lien {
        font-size: 1em;
    }
}